body {

  font-family: "Arial Black", Helvetica, sans-serif;
}

.columns {

}
article {
  float: right;
  padding: 20px;
  width: 70%;
  background-color: lightgrey;


}
.columns {
     column-count: 2;
}

.right {
    text-align: right;
}
section {
  content: "";
  display: table;
  clear: both;
}


footer {

}
.center {
    text-align: center;
}
